<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Table</title>
</head>
<body>
    <h2>Patient_Information</h2>
    <p>
      Patient ID：<input type="text" id="patientId" name="patientId">
      <button onclick="searchId()">search</button>
    </p>
    <p>
      Phone Number：<input type="text" id="phoneNumber" name="phoneNumber">
      <button onclick="searchNumber()">search</button>
    </p>
    <table border="1">
        <tr>
            <th>seria name</th>
            <th>patient id</th>
            <th>first name</th>
            <th>last name</th>
            <th>phone</th>
            <th>DOB</th>
            <th>address</th>
            <th>gender</th>
        </tr>
        <% for(var i = 0; i < res.length; i++) { %>
            <tr>
                <td><%= i+1 %></td>
                <td><%= res[i].patient_id%></td>
                <td><%= res[i].first_name%></td>
                <td><%= res[i].last_name%></td>
                <td><%= res[i].phone%></td>
                <td><%= res[i].DOB%></td>
                <td><%= res[i].address%></td>
                <td><%= res[i].gender%></td>
                <td><a href="#">Edit</a></td>
                <td><a href="#">Delete</a></td>
            </tr>
            <% } %>
    </table>
  <script src="/javascripts/jquery-3.5.1.js"></script>
  <script>

    function searchId() {
      location.href = '/testlist?id=' + $("#patientId").val()
    }

    function searchNumber(){
      location.href = '/testlist?number=' + $("#phoneNumber").val()
    }
    </script>
  </body>
  </html>